@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  margin-top: 0;
  height: calc(100vh - 80px);
  margin-left: 250px;
  background-color: #ebebeb;
}

@media screen and (max-width: 900px) {
	.home,
	.reports,
	.products {
	display: flex;
	height: 89vh;
	margin-left: 0;
	background-color: #ebebeb;
	}
}

.container {
  margin: 2em 2em;
  border-radius: 15px;
  width: 100%;
}

.text-primary { color: #51cbce !important; }
  
.text-info { color: #51bcda !important; }

.text-success { color: #6bd098 !important; }

.text-warning { color: #fbc658 !important; }

.text-danger  { color: #ef8157 !important; }

.text-gray { color: #E3E3E3 !important; }
  

.MuiTableCell-body:after {
  	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

.MuiTableCell-body:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

.MuiTableCell-body:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

.MuiTableCell-body {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

.MuiTableCell-body:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

.MuiTableCell-body:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

.MuiTableRow-root:last-of-type td .text-danger {
	box-shadow: inset 0 -1px 0 #fff; 
}

.MuiTableRow-root:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

.MuiTableRow-root:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

tbody:hover .MuiTableCell-body {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody:hover .MuiTableRow-root:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}
